<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table>
        <th>KERT 회원</th>
        <tr id="user-table">
            
        </tr>
    </table>
    <!-- expose an io (global) (socket.io-client) -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect("http://localhost:8080/room", {
            path: "/socket.io"
        });
        
        socket.on("newUser", (data) => {
            console.log("hello world!");
            const tableData = document.createElement('tr');
            tableData.textContent = data;
            
            const tableRow = document.getElementById('user-table');
            tableRow.appendChild(tableData);
        })

        
    </script>
</body>
</html>